// Mixins for Small, Medium, Large, and XLarge Font-sizes

xsmall()
  font-size 0.65em

small()
  font-size 0.8em

medium()
  font-size 1em

large()
  font-size 1.2em      

xlarge()
  font-size 1.4em

body
  font-size 100%
  line-height 1.8em
  font-family "Helvetica Neue", Helvetica, Verdana, Arial

p
  margin 1.6em
  line-height 1.2em

h1, h2, h3, h4, h5, h6
  margin .625em 24px
h1
  font-size 1.8em
h2
  font-size 1.6em
h3 
  font-size 1.4em
h4
  font-size 1.2em
h5 
  font-size 1em
h6
  font-size .8em
  font-weight 500
  text-transform uppercase

b
strong
  font-weight bold

i
em
  font-style italic
  letter-spacing 0.065em

address
  display block
  margin 1.5em
  line-height 1.3em

pre
code
  display block
  margin 1em
  border-radius 5px
  padding 1em
  background-color lightgray3
  white-space pre-wrap 
  white-space -moz-pre-wrap
  white-space -pre-wrap
  white-space -o-pre-wrap
  word-wrap none
  font-size .875em
  font-family "Courier New", Courier, monospace, sans-serif
  overflow auto

ol, ul 
  margin 0 0 1.5em 2.5em
ul > ul
  margin 0 0 0 2.5em
ul
  list-style disc
li
  line-height 1.4em
dl
  margin 0 1.8em
dd, dt
  line-height 1.4em
dt
  font-weight bold
dd 
  margin 0 1em

blockquote
  font-size 0.9 em
  margin 2em
  p
    line-height 1.1em
    margin 0.5em 1em  
    font-style italic
    &:before
      content open-quote
    &:after
      content close-quote
  small
    margin 0 1em
    small()
    &:before
      content '\2014 \00A0'
    
    
