!!! 5
html
  head
    meta(charset='utf-8')
    title Fluidity - A Modern CSS3 & HTML5 Framework for Node.js & Stylus
    meta(name='description', content='Fluidity is a modern CSS3 & HTML5 framework for Node.js & Stylus')
    meta(name='author', content='Kris Hedges - InkSpeck Design')
    link(rel="icon", type="image/png", href="/images/favicon.png")
    // CSS
    != css('index')
    != css('forms')
    // JS  
    != js('http://code.jquery.com/jquery.min.js')
    != js('fluidity')
  body
    .topbar
      .topbar-inner
        section
          .logo-animation
            .stage
            h1 Fluidity
          .navigation
            .pills-holder
              ul.pills
                li
                  a(href='#installation') Install
                li 
                  a(href='#usage') Usage
                li 
                  a(href='#typography') Typography
                li 
                  a(href='#grid') Grid
                li 
                  a(href='#css3') CSS3
                li#github
                  | <a href='https://github.com/InkSpeck/fluidity' target='_blank'><img src='/images/octocat.png'/>github</a>
    block content


  script(type="text/javascript").
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-4860055-10']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

