!!! 5
html
  head
    meta(charset='utf-8')
    title Fluidity - A Modern CSS3 & HTML5 Framework for Node.js & Stylus
    meta(name='description', content='Fluidity is a modern CSS3 & HTML5 framework for Node.js & Stylus')
    meta(name='author', content='Kris Hedges - InkSpeck Design')
    link(rel="icon", type="image/png", href="/images/favicon.png")
    // CSS
    != css('index')
    // JS  
    != js('http://code.jquery.com/jquery.min.js')
    != js('fluidity')
  body
    block content
