!!! 5
html
  head
    meta(charset='utf-8')
    title Fluidity - A lightweight CSS Framework
    meta(name='description', content='Fluidity CSS is a lightweight CSS framework for HTML5 with a CSS reset, base typography, a semantic grid, and transparent mixins for CSS3')
    meta(name='author', content='Kris Hedges - InkSpeck Design')
    // CSS
    != css('three-column-example')
    // JS  
  body
    block content
