@import "fluidity/fluidity"

#examplepage
  grid()
header
  background-color lightgray3
  height 175px  
.one_percent
  grid_custom 1%
#content
  sidebar
    grid_30()
    background-color lightgray2  
  article
    grid_70()
#footer
  grid_100()
  background-color lightgray1