html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}
button,
input {
  line-height: normal;
}
button {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
.grid {
  position: relative;
  width: 90%;
  min-width: 960px;
  margin: 0 auto;
  overflow: hidden;
}
body {
  min-width: 960px;
  width: 100%;
  height: 100%;
}
header,
footer,
feildset,
section,
.section {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  clear: both;
}
.grid_10 {
  position: relative;
  float: left;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 10%;
}
.grid_20 {
  position: relative;
  float: left;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 20%;
}
.grid_25 {
  position: relative;
  float: left;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 25%;
}
.grid_30 {
  position: relative;
  float: left;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 30%;
}
.grid_33 {
  position: relative;
  float: left;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 33.3%;
}
.grid_40 {
  position: relative;
  float: left;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 40%;
}
.grid_50 {
  position: relative;
  float: left;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 50%;
}
.grid_60 {
  position: relative;
  float: left;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 60%;
}
.grid_70 {
  position: relative;
  float: left;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 70%;
}
.grid_75 {
  position: relative;
  float: left;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 75%;
}
.grid_80 {
  position: relative;
  float: left;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 80%;
}
.grid_90 {
  position: relative;
  float: left;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 90%;
}
.grid_100 {
  position: relative;
  float: left;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  font-size: 100%;
  line-height: 1.8em;
  font-family: "Helvetica Neue", Helvetica, Verdana, Arial;
}
p {
  margin: 1.6em;
  line-height: 1.2em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.625em 24px;
}
h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.8em;
  font-weight: 500;
  text-transform: uppercase;
}
b,
strong {
  font-weight: bold;
}
i,
em {
  font-style: italic;
  letter-spacing: 0.065em;
}
address {
  display: block;
  margin: 1.5em;
  line-height: 1.3em;
}
pre,
code {
  display: block;
  margin: 1em;
  border-radius: 5px;
  padding: 1em;
  background-color: #d1d1d1;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: none;
  font-size: 0.875em;
  font-family: "Courier New", Courier, monospace, sans-serif;
  overflow: auto;
}
ol,
ul {
  margin: 0 0 1.5em 2.5em;
}
ul > ul {
  margin: 0 0 0 2.5em;
}
ul {
  list-style: disc;
}
li {
  line-height: 1.4em;
}
dl {
  margin: 0 1.8em;
}
dd,
dt {
  line-height: 1.4em;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0 1em;
}
blockquote {
  font-size: 0.9 em;
  margin: 2em;
}
blockquote p {
  line-height: 1.1em;
  margin: 0.5em 1em;
  font-style: italic;
}
blockquote p:before {
  content: open-quote;
}
blockquote p:after {
  content: close-quote;
}
blockquote small {
  margin: 0 1em;
  font-size: 0.8em;
}
blockquote small:before {
  content: "\2014 \00A0";
}
fieldset {
  position: relative;
  clear: both;
  margin: 0;
}
legend {
  width: 100%;
  float: left;
  margin: 0.75em 0 1.5em 0;
  font-size: 1.4 em;
  color: #9a9a9a;
  clear: both;
}
label {
  display: block;
  float: left;
  clear: both;
  width: 20%;
  padding: 0.25em 1.5em 1em 1em;
  margin: 0;
  font-size: 0.87em;
}
input[type=button],
input[type=submit],
input[type=reset],
.button,
button {
  width: auto;
  float: right;
  clear: left;
  padding: 6px 8px;
  margin: 0.25em 0.25em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  border: none;
  outline: none;
  text-align: center;
  text-decoration: none;
  color: #000;
  text-shadow: 0px 1px 0px #e1e1e1;
  background-color: #a1a1a1;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.19, #a1a1a1), color-stop(0.64, #d1d1d1), color-stop(1, #e1e1e1));
  background-image: -moz-linear-gradient(center bottom, #a1a1a1 19%, #d1d1d1 64%, #e1e1e1 100%);
  background-image: -o-linear-gradient(top, #e1e1e1, #a1a1a1);
  background-image: linear-gradient(center bottom, #a1a1a1 19%, #d1d1d1 64%, #e1e1e1 100%);
  border: 1px solid #212121;
  -moz-box-shadow: 0 1px 1px #111;
  -webkit-box-shadow: 0 1px 1px #111;
  -o-box-shadow: 0 1px 1px #111;
  -moz-box-shadow: 0 1px 1px #111;
  -webkit-box-shadow: 0 1px 1px #111;
  -o-box-shadow: 0 1px 1px #111;
  box-shadow: 0 1px 1px #111;
}
input[type=button] a,
input[type=submit] a,
input[type=reset] a,
.button a,
button a {
  text-decoration: none;
  color: #111;
}
input[type=button] a:active,
input[type=submit] a:active,
input[type=reset] a:active,
.button a:active,
button a:active {
  color: #fff;
}
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover,
.button:hover,
button:hover,
input[type=button]:focus,
input[type=submit]:focus,
input[type=reset]:focus,
.button:focus,
button:focus {
  -moz-box-shadow: inset 0 0 6px 0px #1a1a1a, 0 1px 1px #111;
  -webkit-box-shadow: inset 0 0 6px 0px #1a1a1a, 0 1px 1px #111;
  -o-box-shadow: inset 0 0 6px 0px #1a1a1a, 0 1px 1px #111;
  box-shadow: inset 0 0 6px 0px #1a1a1a, 0 1px 1px #111;
}
input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active,
.button:active,
button:active {
  -webkit-box-shadow: inset 0 0 10px 1px #111;
  -moz-box-shadow: inset 0 0 10px 1px #111;
  -o-box-shadow: inset 0 0 10px 1px #111;
  -moz-box-shadow: inset 0 0 10px 1px #111;
  -webkit-box-shadow: inset 0 0 10px 1px #111;
  -o-box-shadow: inset 0 0 10px 1px #111;
  box-shadow: inset 0 0 10px 1px #111;
  color: #fff;
  text-shadow: 0px 0px 8px #111, 0 0 1px #111;
  border: 1px solid #111;
  background-color: #212121;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.19, #212121), color-stop(0.64, #313131), color-stop(1, #353535));
  background-image: -moz-linear-gradient(center bottom, #212121 19%, #313131 64%, #353535 100%);
  background-image: -o-linear-gradient(top, #353535, #212121);
  background-image: linear-gradient(center bottom, #212121 19%, #313131 64%, #353535 100%);
}
input[type=button]:disabled,
input[type=submit]:disabled,
input[type=reset]:disabled,
.button:disabled,
button:disabled,
input[type=button]:disabled:active,
input[type=submit]:disabled:active,
input[type=reset]:disabled:active,
.button:disabled:active,
button:disabled:active {
  text-align: center;
  text-decoration: none;
  color: #000;
  font-weight: normal;
  letter-spacing: 0.06em;
  text-shadow: 0px 1px 0px #e1e1e1;
  background-color: #a1a1a1;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.19, #a1a1a1), color-stop(0.64, #d1d1d1), color-stop(1, #e1e1e1));
  background-image: -moz-linear-gradient(center bottom, #a1a1a1 19%, #d1d1d1 64%, #e1e1e1 100%);
  background-image: -o-linear-gradient(top, #e1e1e1, #a1a1a1);
  background-image: linear-gradient(center bottom, #a1a1a1 19%, #d1d1d1 64%, #e1e1e1 100%);
  border: 1px solid #212121;
  -webkit-box-shadow: inset 0 0 6px 0px #1a1a1a;
  -moz-box-shadow: inset 0 0 6px 0px #1a1a1a;
  -o-box-shadow: inset 0 0 6px 0px #1a1a1a;
  -moz-box-shadow: inset 0 0 6px 0px #1a1a1a;
  -webkit-box-shadow: inset 0 0 6px 0px #1a1a1a;
  -o-box-shadow: inset 0 0 6px 0px #1a1a1a;
  box-shadow: inset 0 0 6px 0px #1a1a1a;
  opacity: 0.6;
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  -o-opacity: 0.6;
}
input[type=button]:disabled:active a:active,
input[type=submit]:disabled:active a:active,
input[type=reset]:disabled:active a:active,
.button:disabled:active a:active,
button:disabled:active a:active {
  color: #000;
}
input,
input[type=text],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=number],
input[type=password],
textarea,
select {
  display: inline-block;
  float: left;
  border: 1px solid #868686;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 6px;
  outline: none;
  margin: 0 0 1em 0;
  -webkit-appearance: none;
  -o-appearance: none;
  width: 60%;
  -webkit-box-shadow: inset 0 0px 12px 0px #c2c2c2;
  -moz-box-shadow: inset 0 0px 12px 0px #c2c2c2;
  -o-box-shadow: inset 0 0px 12px 0px #c2c2c2;
  -moz-box-shadow: inset 0 0px 12px 0px #c2c2c2;
  -webkit-box-shadow: inset 0 0px 12px 0px #c2c2c2;
  -o-box-shadow: inset 0 0px 12px 0px #c2c2c2;
  box-shadow: inset 0 0px 12px 0px #c2c2c2;
}
input:focus,
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=password]:focus,
textarea:focus,
select:focus,
input:hover,
input[type=text]:hover,
input[type=email]:hover,
input[type=url]:hover,
input[type=search]:hover,
input[type=tel]:hover,
input[type=number]:hover,
input[type=password]:hover,
textarea:hover,
select:hover {
  border: 1px solid #8e8e8e;
  -moz-box-shadow: 0 0 9px #8e8e8e;
  -webkit-box-shadow: 0 0 9px #8e8e8e;
  -o-box-shadow: 0 0 9px #8e8e8e;
  -moz-box-shadow: 0 0 9px #8e8e8e;
  -webkit-box-shadow: 0 0 9px #8e8e8e;
  -o-box-shadow: 0 0 9px #8e8e8e;
  box-shadow: 0 0 9px #8e8e8e;
}
textarea {
  height: 6em;
}
select {
  background-color: #d3d3d3;
  -webkit-box-shadow: inset 0 0 9px 1px #9a9a9a;
  -moz-box-shadow: inset 0 0 9px 1px #9a9a9a;
  -o-box-shadow: inset 0 0 9px 1px #9a9a9a;
  -moz-box-shadow: inset 0 0 9px 1px #9a9a9a;
  -webkit-box-shadow: inset 0 0 9px 1px #9a9a9a;
  -o-box-shadow: inset 0 0 9px 1px #9a9a9a;
  box-shadow: inset 0 0 9px 1px #9a9a9a;
  background-image: url("./fluidity/lib/images/select.png");
  background-repeat: no-repeat;
  background-position: right center;
  cursor: pointer;
}
select:focus,
select:hover {
  background-color: #d6d6d6;
  -webkit-box-shadow: inset 0 0 9px 1px #c2c2c2;
  -moz-box-shadow: inset 0 0 9px 1px #c2c2c2;
  -o-box-shadow: inset 0 0 9px 1px #c2c2c2;
  -moz-box-shadow: inset 0 0 9px 1px #c2c2c2;
  -webkit-box-shadow: inset 0 0 9px 1px #c2c2c2;
  -o-box-shadow: inset 0 0 9px 1px #c2c2c2;
  box-shadow: inset 0 0 9px 1px #c2c2c2;
  background-image: url("./fluidity/lib/images/select.png");
  background-repeat: no-repeat;
  background-position: right center;
}
select[multiple] {
  display: inline-block;
  background-color: #a1a1a1;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.19, #a1a1a1), color-stop(0.64, #d1d1d1), color-stop(1, #e1e1e1));
  background-image: -moz-linear-gradient(center bottom, #a1a1a1 19%, #d1d1d1 64%, #e1e1e1 100%);
  background-image: -o-linear-gradient(top, #e1e1e1, #a1a1a1);
  background-image: linear-gradient(center bottom, #a1a1a1 19%, #d1d1d1 64%, #e1e1e1 100%);
  -webkit-box-shadow: inset 0 1px 9px 0px #c2c2c2;
  -moz-box-shadow: inset 0 1px 9px 0px #c2c2c2;
  -o-box-shadow: inset 0 1px 9px 0px #c2c2c2;
  -moz-box-shadow: inset 0 1px 9px 0px #c2c2c2;
  -webkit-box-shadow: inset 0 1px 9px 0px #c2c2c2;
  -o-box-shadow: inset 0 1px 9px 0px #c2c2c2;
  box-shadow: inset 0 1px 9px 0px #c2c2c2;
}
select[multiple]:focus {
  border: 1px solid #8e8e8e;
  -moz-box-shadow: 0 0 9px #8e8e8e;
  -webkit-box-shadow: 0 0 9px #8e8e8e;
  -o-box-shadow: 0 0 9px #8e8e8e;
  -moz-box-shadow: 0 0 9px #8e8e8e;
  -webkit-box-shadow: 0 0 9px #8e8e8e;
  -o-box-shadow: 0 0 9px #8e8e8e;
  box-shadow: 0 0 9px #8e8e8e;
}
input[type=radio],
input[type=checkbox] {
  display: inline-block;
  width: 1em;
  margin: 0 0 0 1.5em;
  height: 1em;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
  padding-top: 0.25em;
  border: 0.18em solid #fff;
  background-color: #b4b4b4;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.19, #b4b4b4), color-stop(0.64, #d1d1d1), color-stop(1, #e1e1e1));
  background-image: -moz-linear-gradient(center bottom, #b4b4b4 19%, #d1d1d1 64%, #e1e1e1 100%);
  background-image: -o-linear-gradient(top, #e1e1e1, #b4b4b4);
  background-image: linear-gradient(center bottom, #b4b4b4 19%, #d1d1d1 64%, #e1e1e1 100%);
  -moz-box-shadow: 0 0 1px #353535, 0 0 9px #b1b1b1, inset 0 0 6px 0px #111;
  -webkit-box-shadow: 0 0 1px #353535, 0 0 9px #b1b1b1, inset 0 0 6px 0px #111;
  -o-box-shadow: 0 0 1px #353535, 0 0 9px #b1b1b1, inset 0 0 6px 0px #111;
  box-shadow: 0 0 1px #353535, 0 0 9px #b1b1b1, inset 0 0 6px 0px #111;
  cursor: pointer;
}
input[type=radio]:focus,
input[type=checkbox]:focus,
input[type=radio]:hover,
input[type=checkbox]:hover {
  border: 0.18em solid #8e8e8e;
  -moz-box-shadow: 0 0 9px #8e8e8e;
  -webkit-box-shadow: 0 0 9px #8e8e8e;
  -o-box-shadow: 0 0 9px #8e8e8e;
  -moz-box-shadow: 0 0 9px #8e8e8e;
  -webkit-box-shadow: 0 0 9px #8e8e8e;
  -o-box-shadow: 0 0 9px #8e8e8e;
  box-shadow: 0 0 9px #8e8e8e;
}
input[type=radio]:focus:checked,
input[type=checkbox]:focus:checked {
  border: 0.18em solid #fff;
  background-color: #111;
  -moz-box-shadow: 0 0 1px #353535, 0 0 9px #b1b1b1, inset 0 0 6px 0px #111;
  -webkit-box-shadow: 0 0 1px #353535, 0 0 9px #b1b1b1, inset 0 0 6px 0px #111;
  -o-box-shadow: 0 0 1px #353535, 0 0 9px #b1b1b1, inset 0 0 6px 0px #111;
  box-shadow: 0 0 1px #353535, 0 0 9px #b1b1b1, inset 0 0 6px 0px #111;
}
input[type=radio] {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -o-border-radius: 2em;
  border-radius: 2em;
}
input[type=checkbox]:checked {
  background-image: url("./fluidity/lib/images/checkbox.png");
  background-repeat: no-repeat;
  background-color: #111;
}
input[type=radio]:checked {
  background-image: none;
  background-color: #111;
}
input[type=file] {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: none;
  font-size: 0.875em;
}
.topbar {
  font-size: 0.8em;
  width: 100%;
  height: 60px;
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  border: 1px solid #5d5d5d;
  background-color: #aeaeae;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.19, #aeaeae), color-stop(0.64, #c1c1c1), color-stop(1, #d1d1d1));
  background-image: -moz-linear-gradient(center bottom, #aeaeae 19%, #c1c1c1 64%, #d1d1d1 100%);
  background-image: -o-linear-gradient(top, #d1d1d1, #aeaeae);
  background-image: linear-gradient(center bottom, #aeaeae 19%, #c1c1c1 64%, #d1d1d1 100%);
  color: #d1d1d1;
  z-index: 10;
  opacity: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -o-opacity: 1;
  -moz-box-shadow: 0 0 16px #212121;
  -webkit-box-shadow: 0 0 16px #212121;
  -o-box-shadow: 0 0 16px #212121;
  -moz-box-shadow: 0 0 16px #212121;
  -webkit-box-shadow: 0 0 16px #212121;
  -o-box-shadow: 0 0 16px #212121;
  box-shadow: 0 0 16px #212121;
}
.topbar .topbar-inner {
  position: relative;
  width: 90%;
  min-width: 960px;
  margin: 0 auto;
  overflow: hidden;
  overflow: visible;
}
.topbar .topbar-inner p {
  margin: 1.5em;
}
.topbar button,
.topbar .button {
  margin: 1.4em 1em;
  font-weight: bold;
  float: left;
  border: 0;
  font-size: 0.8em;
}
.topbar .pills li a {
  -moz-box-shadow: 0 0 4px #a4a4a4;
  -webkit-box-shadow: 0 0 4px #a4a4a4;
  -o-box-shadow: 0 0 4px #a4a4a4;
  -moz-box-shadow: 0 0 4px #a4a4a4;
  -webkit-box-shadow: 0 0 4px #a4a4a4;
  -o-box-shadow: 0 0 4px #a4a4a4;
  box-shadow: 0 0 4px #a4a4a4;
}
.pills {
  display: block;
  width: 100%;
  height: 50px;
  clear: both;
  margin-left: 0.75em;
  list-style: none;
}
.pills li a {
  float: left;
  padding: 7px 8px 8px 8px;
  margin: 1.1em 0.2em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  color: #fff;
  border: none;
  outline: none;
  text-align: center;
  text-decoration: none;
  color: #000;
  font-weight: normal;
  letter-spacing: 0.06em;
  text-shadow: 0px 1px 0px #e1e1e1;
  background-color: #aaa;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.19, #aaa), color-stop(0.64, #d1d1d1), color-stop(1, #e1e1e1));
  background-image: -moz-linear-gradient(center bottom, #aaa 19%, #d1d1d1 64%, #e1e1e1 100%);
  background-image: -o-linear-gradient(top, #e1e1e1, #aaa);
  background-image: linear-gradient(center bottom, #aaa 19%, #d1d1d1 64%, #e1e1e1 100%);
  border: 1px solid #5d5d5d;
  -moz-box-shadow: 0 1px 1px #a4a4a4;
  -webkit-box-shadow: 0 1px 1px #a4a4a4;
  -o-box-shadow: 0 1px 1px #a4a4a4;
  -moz-box-shadow: 0 1px 1px #a4a4a4;
  -webkit-box-shadow: 0 1px 1px #a4a4a4;
  -o-box-shadow: 0 1px 1px #a4a4a4;
  box-shadow: 0 1px 1px #a4a4a4;
}
.pills li a:hover {
  -webkit-box-shadow: inset 0 0 9px 0px #5d5d5d;
  -moz-box-shadow: inset 0 0 9px 0px #5d5d5d;
  -o-box-shadow: inset 0 0 9px 0px #5d5d5d;
  -moz-box-shadow: inset 0 0 9px 0px #5d5d5d;
  -webkit-box-shadow: inset 0 0 9px 0px #5d5d5d;
  -o-box-shadow: inset 0 0 9px 0px #5d5d5d;
  box-shadow: inset 0 0 9px 0px #5d5d5d;
}
.pills li a.current,
.pills li a:active {
  -webkit-box-shadow: inset 0 0 10px 1px #141414;
  -moz-box-shadow: inset 0 0 10px 1px #141414;
  -o-box-shadow: inset 0 0 10px 1px #141414;
  -moz-box-shadow: inset 0 0 10px 1px #141414;
  -webkit-box-shadow: inset 0 0 10px 1px #141414;
  -o-box-shadow: inset 0 0 10px 1px #141414;
  box-shadow: inset 0 0 10px 1px #141414;
  color: #fff;
  text-shadow: 0px 0px 8px #111, 0 0 1px #111;
  border: 1px solid #111;
  background-color: #212121;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.19, #212121), color-stop(0.64, #313131), color-stop(1, #1b1b1b));
  background-image: -moz-linear-gradient(center bottom, #212121 19%, #313131 64%, #1b1b1b 100%);
  background-image: -o-linear-gradient(top, #1b1b1b, #212121);
  background-image: linear-gradient(center bottom, #212121 19%, #313131 64%, #1b1b1b 100%);
}
.tabs {
  display: block;
  margin: auto 0.75em;
  width: 100%;
  height: 3.23em;
  clear: both;
  list-style: none;
}
.tabs li  a {
  float: left;
  padding: 8px;
  margin: 1.1em 0.3em 1.1em 0em;
  -webkit-border-top-left-radius-: 8px;
  -moz-border-topleft-radius: 8px;
  -o-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -webkit-border-top-right-radius-: 8px;
  -moz-border-topright-radius: 8px;
  -o-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  color: #fff;
  border: none;
  outline: none;
  text-align: center;
  text-decoration: none;
  color: #000;
  font-weight: normal;
  letter-spacing: 0.06em;
  text-shadow: 0px 1px 0px #e1e1e1;
  background-color: #a1a1a1;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.19, #a1a1a1), color-stop(0.64, #d1d1d1), color-stop(1, #e1e1e1));
  background-image: -moz-linear-gradient(center bottom, #a1a1a1 19%, #d1d1d1 64%, #e1e1e1 100%);
  background-image: -o-linear-gradient(top, #e1e1e1, #a1a1a1);
  background-image: linear-gradient(center bottom, #a1a1a1 19%, #d1d1d1 64%, #e1e1e1 100%);
  border: 1px solid #212121;
  -webkit-box-shadow: inset 0 0 6px 0px #1a1a1a;
  -moz-box-shadow: inset 0 0 6px 0px #1a1a1a;
  -o-box-shadow: inset 0 0 6px 0px #1a1a1a;
  -moz-box-shadow: inset 0 0 6px 0px #1a1a1a;
  -webkit-box-shadow: inset 0 0 6px 0px #1a1a1a;
  -o-box-shadow: inset 0 0 6px 0px #1a1a1a;
  box-shadow: inset 0 0 6px 0px #1a1a1a;
}
.tabs li  a:hover,
.tabs li  a.current,
.tabs li  a:active {
  -webkit-box-shadow: inset 0 0 10px 1px #141414;
  -moz-box-shadow: inset 0 0 10px 1px #141414;
  -o-box-shadow: inset 0 0 10px 1px #141414;
  -moz-box-shadow: inset 0 0 10px 1px #141414;
  -webkit-box-shadow: inset 0 0 10px 1px #141414;
  -o-box-shadow: inset 0 0 10px 1px #141414;
  box-shadow: inset 0 0 10px 1px #141414;
  color: #fff;
  text-shadow: 0px 0px 8px #111, 0 0 1px #111;
  border: 1px solid #111;
  background-color: #212121;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.19, #212121), color-stop(0.64, #313131), color-stop(1, #353535));
  background-image: -moz-linear-gradient(center bottom, #212121 19%, #313131 64%, #353535 100%);
  background-image: -o-linear-gradient(top, #353535, #212121);
  background-image: linear-gradient(center bottom, #212121 19%, #313131 64%, #353535 100%);
}
#container {
  position: relative;
  width: 90%;
  min-width: 960px;
  margin: 0 auto;
  overflow: hidden;
}
header {
  position: relative;
  float: left;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
sidebar {
  position: relative;
  float: left;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 30%;
}
article {
  position: relative;
  float: left;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 70%;
}
#arbitrary_one {
  position: relative;
  float: left;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 23%;
}
#arbitrary_two {
  position: relative;
  float: left;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 44%;
}
#arbitrary_three {
  position: relative;
  float: left;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 33%;
}
footer {
  text-align: center;
}
