@import "fluidity/fluidity"

#container
  grid()

header
  grid_100()

.centeredform form
 width 500px
 margin 0 auto
    
article
  grid_70()

.highlights
  grid_50()

aside
  grid_30()

.more-articles
  grid_33()