@import "fluidity/fluidity"
#container
  grid()
header
  grid_100()

sidebar
  grid_30()
article
  grid_70()

#arbitrary_one
  grid_custom 23%
#arbitrary_two
  grid_custom 44%
#arbitrary_three
  grid_custom 33%

footer
  text-align center
  

