@import "fluidity/grid"
@import "fluidity/color"
@import "fluidity/css3"
@import "fluidity/elements" 
@import "fluidity/forms" 

#forms
  #form-explanation
    grid-space(50%)
  #example-form
    grid-space(50%)
    .name
      grid-space(50%)
    .options
      grid-space(50%)
    .sex
      grid-space(50%)
      clear left  
    .allergies
      grid-space(50%)
      vertical()  
    .description
      grid-space(80%)
      center-space()
    .multi
      grid-space(60%)
      center-space()