grid-width = 90%
grid-min-width = 960px
base-font-size = 16px
base-line-height = 1.35em
base-color = #353536
vendors = webkit moz o ms official
@import "fluidity"
@import "fluidity/elements"
@import "fluidity/forms"

body
  background-color lighter-color3
  margin-top 62px
  color base-color

a
  color darken(lighter-color1,40%)
  border-bottom 1px solid darken(lighter-color1,40%)
  text-decoration none

h1,h2,h3,h4,h5
  font-weight normal

h6
  color darken(lighter-color1,30%)
  margin-bottom .25em
  font-size .8em
  font-weight normal
  text-transform uppercase

h1
  border-bottom 1px solid base-color
  padding-bottom .825em
  margin-bottom 0

.important-note
  background-color darker-color3
  color white
  padding 8px 0px
  margin 1em 2em
  font-size 0.9em
  border-radius 0px 0px 10px 0px
  p
    padding 0
    margin 0 1em
  a
    color lighter-color3

.topbar-inner
  .logo-animation
    grid-space(50%)
    h1
      display block
      position relative
      top 0
      border none
      color base-color
      font-size 1.95em
      cursor pointer
      text-shadow 0 1px 1px lighter-color3
      margin-top .725em
  .navigation
    grid-space(50%)
    .pills-holder
      width 450px
      margin 0 auto
      #github
        img
          display inline
          position relative
          float left

.container
  grid()
  background-color white
  border 1px solid lighten(darker-color3,60%)
  box-shadow 0 0 46px lighter-color2

header
  grid_100()
  color base-color
  background radial-gradient(ellipse farthest-corner at top left,lighter-color3 0%,lighter-color2 40%,lighter-color1 70%, lighter-color2 100%)
  large()
  border-bottom 1px solid lighten(darker-color3,45%)
  .header-inner
    width 95.825%
    margin 18px
    padding 0px
    border 1px solid base-color
    z-index 4
    h4
       margin .8em 1em .2em 4em
    h5
       margin .2em 1em 1.2em 4.8em
       line-height 1.05em
    h1
      font-size 2em
      margin 1em 0 .15em 1em
      padding-bottom .925em
      text-shadow 0 0 88px white, 0 0 108px white, 0 0 128px white

#about
  .is
    grid-space(55%)
  .isnt
    grid-space(45%)
  .isnt-inner
    margin 0.5em 0
    column-count 2
    column-gap 0.5em

#installation
  .node
    grid-space(49%)
  .seperator
    grid-space(2%)
  .standalone
    grid-space(49%)

#usage
  .usage-explanation
    grid-space(50%)
  .usage-code
    grid-space(50%)

#global-variables
  .global-variables-explanation
    grid-space(50%)
  .global-variables-code
    grid-space(50%)

#grid
  .grid-configuration-variables-code
    grid-space(50%)
  .grid-configuration-variables-explanation
    grid-space(48%)

#create-grid
  .create-grid-code
    grid-space(50%)
  .create-grid-explanation
    grid-space(48%)

#sections-spaces
  .sections-spaces-explanation
    grid-space(60%)
    center-space()
    font-size 1.1em
    font-weight normal
    padding 1.2em
    border-radius 3px
    color white
    background-color darker-color3
    box-shadow inset 0px 0px 30px darken(darker-color1,80%)

#sections
  .sections-code
    grid-space(50%)
  .sections-explanation
    grid-space(50%)

#spaces
  .spaces-code-explanation
    grid-space(30%)
  .spaces-code-html
    grid-space(40%)
  .spaces-code-stylus
    grid-space(30%)
  .spaces-code-non-semantic-explanation
    grid-space(30%)
  .spaces-code-non-semantic-html
    grid-space(40%)
  .spaces-code-non-semantic-stylus
    grid-space(30%)

#grid-examples
  .two-column-example-code-explanation
    grid-space(30%)
  .two-column-example-code-html
    grid-space(35%)
  .two-column-example-code-stylus
    grid-space(35%)
  .three-column-example-code-explanation
    grid-space(20%)
  .three-column-example-code-html
    grid-space(35%)
  .three-column-example-code-stylus
    grid-space(45%)
  .three-column-fixed-example-code-explanation
    grid-space(30%)
  .three-column-fixed-example-code-html
    grid-space(35%)
  .three-column-fixed-example-code-stylus
    grid-space(35%)

#typography
  .headings
     grid-space(33%)
  .headings-example
    grid-space(23%)
    h1,h2,h3,h4,h5,h6
      font-weight bold
    .headings-examples
      h6
        text-transform none
        font-size 1em
        color base-color
      h1
        border none
        padding 0
  .paragraphs
    grid-space(44%)
  .lists-1
    grid-space(33%)
  .lists-2
    grid-space(33%)
  .lists-3
    grid-space(34%)
  .blockquotes
    grid-space(33%)
  .code-blocks
    grid-space(33%)
  .address-blocks
    grid-space(33%)


#css3
  .css3-explanation
    grid-space(50%)
  .css3-mixins
    grid-space(50%)
    .mixin-list
      columns 2
      border-radius 10px
      ul
        list-style-type none

#gradients
  margin-bottom 2em
  .linear-gradient-explanation
    grid-space(25%)
    min-height 400px
  .linear-gradient-example-code
    grid-space(75%)
  .linear-gradient-sample
    grid-space(75%)
    #sample-1
      background-image linear-gradient(65deg, white, darker-color3)
    #sample-2
      background-image linear-gradient(to bottom left, lighter-color2 40%, darker-color3 70%, lighter-color3 100%)
  .radial-gradient-explanation
    grid-space(25%)
    min-height 400px
  .radial-gradient-example-code
    grid-space(75%)
  .radial-gradient-sample
    grid-space(75%)
    #sample-1
      background radial-gradient(at top right, white, darker-color1)
    #sample-2
      background radial-gradient(
        ellipse farthest-corner at 0% 100%, white 10%, darker-color1 50%, lighter-color2 70%
      )
    #sample-3
      background radial-gradient(circle closest-side at 40px 30px, white, darker-color3)
.gradient-sample
  grid-space(20%)
  height 100px
  border 1px solid lighter-color1
  margin-top 20px
  margin-left 2%
  h6
    position relative
    top -24px
    margin 0
    padding 0

footer
  background-color lighter-color2
  #copyright
    grid-space(100%)
    font-size .8em
    border-top 1px solid darken(lighter-color1, 10%)
    p
      margin 0.7em 1em 1em 1em
      text-align center


// Animation Elements
.shown
  opacity 1 !important

//Topbar Helixes

.topbar-inner
  .logo-animation
    .stage
      position absolute
      display block
      top 0
      left 0
      display block
      width 99%
      height 100%
      opacity 0
      transition all .2s linear
      overflow hidden
      .square-x
        position absolute
        left 89px
        top 26px
        display block
        width 40px
        height 200px
        z-index 2
        animation-name topbar-square-x
        animation-duration 3s
        animation-timing-function linear
        animation-delay 0s
        animation-iteration-count infinite
      .square-y
        display block
        width 40px
        height 40px
        z-index 2
        animation-name topbar-square-y
        animation-duration 3s
        animation-timing-function ease-in-out
        animation-delay 0s
        animation-iteration-count infinite
      .square
        display block
        width 5px
        height 5px
        background-color darken(lighter-color1,20%)
      .square2-x
        position absolute
        left 89px
        top 26px
        display block
        width 40px
        height 200px
        z-index 2
        animation-name topbar-square-x
        animation-duration 3s
        animation-timing-function linear
        animation-delay 0s
        animation-iteration-count infinite
      .square2-y
        display block
        width 40px
        height 40px
        z-index 2
        animation-name topbar-square2-y
        animation-duration 3s
        animation-timing-function ease-in-out
        animation-delay 0s
        animation-iteration-count infinite
      .square2
        display block
        width 5px
        height 5px
        background-color white

//Header Large Helixes

header
 .stage
   position absolute
   display block
   width 100%
   height 100%
   overflow-hidden
   z-index 2 x
   .square
     display block
     width 10px
     height 10px
     background-color lighter-color1
   .square2
     display block
     width 10px
     height 10px
     background-color #fff
   .square-x
     position absolute
     left 148px
     top 27%
     display block
     width 40px
     height 200px
     z-index 2
     opacity 0
     animation-name square-x
     animation-duration 3s
     animation-timing-function linear
     animation-delay 0s
     animation-iteration-count infinite
   .square-y
     display block
     width 40px
     height 40px
     z-index 2
     animation-name square-y
     animation-duration 3s
     animation-timing-function ease-in-out
     animation-delay 0s
     animation-iteration-count infinite
   .square2-x
     position absolute
     left 148px
     top 27%
     display block
     width 40px
     height 200px
     z-index 2
     opacity 0
     animation-name square-x
     animation-duration 3s
     animation-timing-function linear
     animation-delay 0s
     animation-iteration-count infinite
   .square2-y
     display block
     width 40px
     height 40px
     z-index 2
     animation-name square2-y
     animation-duration 3s
     animation-timing-function ease-in-out
     animation-delay 0s
     animation-iteration-count infinite

//Topbar Animation
@keyframes topbar-square-x
  0%
    transform translateX(0%)
    opacity 0
  20%
    transform translateX(50px )
    opacity 0.75
  100%
    transform translateX(400px)
    opacity 0

@keyframes topbar-square-y
  0%
    transform translateY(0px)
  10%
    transform translateY(-18px)
  20%
    transform translateY(18px)
  30%
    transform translateY(-14px)
  40%
    transform translateY(14px)
  50%
    transform translateY(-10px)
  60%
    transform translateY(10px)
  70%
    transform translateY(-5px)
  80%
    transform translateY(5px)
  90%
    transform translateY(-1px)
  100%
    transform translateY(1px)

@keyframes topbar-square2-y
  0%
    transform translateY(0px)
  10%
    transform translateY(18px)
  20%
    transform translateY(-18px)
  30%
    transform translateY(14px)
  40%
    transform translateY(-14px)
  50%
    transform translateY(10px)
  60%
    transform translateY(-10px)
  70%
    transform translateY(5px)
  80%
    transform translateY(-5px)
  90%
    transform translateY(1px)
  100%
    transform translateY(-1px)

//Header Animation
@keyframes square-x
  0%
    transform translateX(0%)
    opacity 0
  20%
    transform translateX(150px)
    opacity 0.75
  100%
    transform translateX(700px)
    opacity 0

@keyframes square-y
  0%
    transform translateY(0px)
  10%
    transform translateY(-35px)
  20%
    transform translateY(35px)
  30%
    transform translateY(-23px)
  40%
    transform translateY(23px)
  50%
    transform translateY(-15px)
  60%
    transform translateY(15px)
  70%
    transform translateY(-8px)
  80%
    transform translateY(8px)
  90%
    transform translateY(-2px)
  100%
    transform translateY(2px)

@keyframes square2-y
  0%
    transform translateY(0px)
  10%
    transform translateY(35px)
  20%
    transform translateY(-35px)
  30%
    transform translateY(23px)
  40%
    transform translateY(-23px)
  50%
    transform translateY(15px)
  60%
    transform translateY(-15px)
  70%
    transform translateY(8px)
  80%
    transform translateY(-8px)
  90%
    transform translateY(2px)
  100%
    transform translateY(-2px)
