@import "fluidity"

#examplepage
  grid(90%,480px)

header
  background-color darkgray2
  color white  

#left-menu
  grid-space(25%)
#content
  grid-space(50%)
#right-menu
  grid-space(25%)

footer
  background-color lightgray2
  text-align center  