@import "fluidity"

#examplepage
  grid(90%,800px)
header
  background-color darkgray2
  color white  
#left-menu
  grid-space(25%)
#content
  grid-space(50%)
#right-menu
  grid-space(25%)
footer
  background-color lightgray2
  text-align center    

@media screen and (max-width: 800px)
  #examplepage
    grid(90%,475px)
  #left-menu
    grid-space(45%)
  #content
    grid-space(55%)
  #right-menu
    grid-space(100%)

@media screen and (max-width: 500px)
  #examplepage
    grid(90%,320px)
  header
    font-size 0.8em  
  #left-menu
    grid-space(100%)
  #content
    grid-space(100%)
  #right-menu
    grid-space(100%)      
