@import "fluidity"

#examplepage
  grid(80%,960px)

header
  background-color darkgray2
  color white  

#content
  sidebar
    grid-space(30%)
  article
    grid-space(70%)

footer
  background-color lightgray2
  text-align center  